/*! 98.css v0.1.17 - https://github.com/jdan/98.css */
.windows98 {
	background: silver;
	box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;
	padding: 3px;
}
.title-bar98 {
	align-items: center;
	background: linear-gradient(90deg,navy,#1084d0);
	display: flex;
	justify-content: space-between;
	padding: 3px 2px 3px 3px;
}
.title-bar-text98 {
	color: #fff;
	font-weight: 700;
	letter-spacing: 0;
	margin-right: 24px;
}
.window-body98 {
	margin: 8px;
}
button98 {
	background: silver;
	box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
}
button98 {
	border: none;
	border-radius: 0;
	box-sizing: border-box;
	padding: 10px 12px;
}