@font-face {
  font-family: 'dipopixversalregular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://arjun4s.github.io/dvr/dipopixversalregular-regular.woff2) format('woff2');
}
